.container-4 {
  background-color: #161821;
  color: #d2d2d2;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.container-4 h2 {
  color: #225C98;
  text-align: center;
}
.container-4 .container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-4 .container-inner .baby {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-4 .container-inner .baby .item {
  flex: 0 0 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-4 .container-inner .baby .item h4 {
  flex: 0 0 110px;
  text-align: right;
  color: #5A8DC3;
  font-weight: 550;
}
.container-4 .container-inner .baby .item ul {
  flex: 0 0 265px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
}
.container-4 .container-inner .baby .item ul div {
  width: 105px;
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 14px;
}
