@import "../../Colors.less";

.container-4 {
  background-color: @b0;
  color: @t0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  h2 {
    color: @p0;
    text-align: center;
  }
  .container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .baby {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        flex: 0 0 375px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h4 {
          flex: 0 0 110px;
          text-align: right;
          color: @p2;
          font-weight: 550;
        }
        ul {
          flex: 0 0 265px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-left: 0px;
          div {
            width: 105px;
            padding-left: 25px;
            padding-top: 6px;
            padding-bottom: 14px;
          }
        }
      }
    }
  }
}
