.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-1 {
  background-color: #282C34;
  color: #D5D5D5;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-1 .container-inner {
  margin-top: 10vh;
}
.container-1 .container-inner .greeting {
  font-size: calc(7vmin);
}
.container-1 .container-inner .short-line {
  font-size: calc(3vmin);
}
.container-1 .container-inner .friend-name {
  color: #96a4c1;
}
.container-1 .container-inner .my-name {
  color: #f3a195;
}
.container-1 .arrow-down {
  margin-top: auto;
  font-size: 5vh;
  padding-bottom: 5vh;
}
.container-2 {
  background-color: white;
  color: #282C34;
  padding-top: 3vh;
  padding-bottom: 3vh;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-2 .container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-2 .container-inner .empty {
  height: 3vh;
}
.container-2 .container-inner .profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  border-radius: 100px;
  border-color: white;
  border-width: 2px;
}
.container-2 .container-inner .description {
  line-height: 1.7;
}
.container-2 .hobby-item {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 80%;
}
.container-2 .hobby-item .hobby-icon {
  font-size: 30px;
}
.container-2 .arrow-down {
  margin-top: auto;
  font-size: 5vh;
  padding-bottom: 5vh;
}
.nav-bar {
  background-color: #96a4c1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 50px;
}
