.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrow-down {
  margin-top: auto;
  font-size: 4.5vh;
  padding-bottom: 2vh;
  opacity: 50%;
  text-align: center;
}
.arrow-down:hover {
  cursor: pointer;
}
.container-1 {
  background-color: #161821;
  color: #d2d2d2;
  min-height: calc(100vh - 0px);
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.7);
}
.container-1 .container-inner {
  margin-top: 10vh;
}
.container-1 .container-inner .greeting {
  font-size: calc(7vmin);
}
.container-1 .container-inner .short-line {
  font-size: calc(3vmin);
}
.container-1 .container-inner .friend-name {
  color: #3B70A8;
}
.container-1 .container-inner .my-name {
  color: #e7a0ae;
}
.container-2 {
  background-color: #161821;
  color: #d2d2d2;
  min-height: calc(100vh - 0px);
}
.container-2 h2 {
  color: #225C98;
}
.container-2 strong {
  color: #e7a0ae;
}
.container-2 .container-inner {
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 0px);
}
.container-2 .container-inner .profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  border-radius: 100px;
  border-color: white;
  border-width: 2px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.8);
}
.container-2 .container-inner .description {
  line-height: 1.7;
  text-align: justify;
}
.container-2 .hobby-item {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #606060;
}
.container-2 .hobby-item .hobby-icon {
  font-size: 30px;
}
.nav-bar {
  background-color: #225C98;
  color: white;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 70px;
}
.nav-bar .nav-bar-item {
  color: #161821;
  font-size: medium;
  font-weight: 450;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.nav-bar .nav-bar-item:hover {
  cursor: pointer;
  color: white;
}
.nav-bar .nav-bar-item:active {
  color: #225C98;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.7);
  -webkit-transition: color 0s;
  -moz-transition: color 0s;
  -ms-transition: color 0s;
  -o-transition: color 0s;
  transition: color 0s;
}
