@import "Colors.less";

@navbarSize: 70px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.arrow-down {
  margin-top: auto;
  font-size: 4.5vh;
  padding-bottom: 2vh;
  opacity: 50%;
  text-align: center;
}
.arrow-down:hover {
  cursor: pointer;
}

.container-1 {
  background-color: @b0;
  color: @t0;
  min-height: calc(100vh - 0px);

  .container-inner {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 0px);

    .greeting {
      font-size: calc(7vmin);
    }

    .short-line {
      font-size: calc(3vmin);
    }

    .friend-name {
      color: @p1;
    }

    .my-name {
      color: @c0;
    }
    .arrow-down {
      padding-bottom: 10vh;
    }
  }
}

.container-2 {
  background-color: @b0;
  color: @t0;
  min-height: calc(100vh - 0px);

  h2 {
    color: @p0;
  }
  strong {
    color: @c0;
  }

  .container-inner {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 0px);

    .profile-pic {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 200px;
      border-radius: 100px;
      border-color: white;
      border-width: 2px;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.8);
    }

    .description {
      line-height: 1.7;
      text-align: justify;
    }
  }

  .hobby-item {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;

    color: #606060;

    .hobby-icon {
      font-size: 30px;
    }
  }
}

.nav-bar {
  background-color: @p0;
  color: white;

  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.7);

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1;
  width: 100%;
  height: @navbarSize;
  .nav-bar-item {
    color: @b0;
    font-size: medium;
    font-weight: 450;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
  }
  .nav-bar-item:hover {
    cursor: pointer;
    color: white;
  }
  .nav-bar-item:active {
    color: @p0;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.7);
    -webkit-transition: color 0s;
    -moz-transition: color 0s;
    -ms-transition: color 0s;
    -o-transition: color 0s;
    transition: color 0s;
  }
}
