@b0 : #282C34;
@b1 : #96858F;
@b2 : #6D7993;
@b3 : #9099A2;
@b4 : #D5D5D5;

@p0 : #f3a195;
@p1 : #96a4c1;

.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-1 {
  background-color: @b0;
  color           : @b4;
  min-height      : calc(100vh - 50px);
  padding-top     : 3vh;
  padding-bottom  : 3vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  .container-inner {
    margin-top: 10vh;

    .greeting {
      font-size: calc(7vmin);
    }

    .short-line {
      font-size: calc(3vmin);
    }

    .friend-name {
      color: @p1;
    }

    .my-name {
      color: @p0;
    }
  }

  .arrow-down {
    margin-top    : auto;
    font-size     : 5vh;
    padding-bottom: 2vh;
  }
}

.container-2 {
  background-color: white;
  color           : @b0;
  padding-top     : 3vh;
  padding-bottom  : 3vh;
  min-height      : calc(100vh - 50px);
  overflow        : hidden;
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  .container-inner {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    .empty {
      height: 3vh;
    }

    .profile-pic {
      margin-top   : 20px;
      margin-bottom: 20px;
      height       : 200px;
      border-radius: 100px;
      border-color : white;
      border-width : 2px;
    }

    .description {
      line-height: 1.7;
    }
  }

  .hobby-item {
    float: left;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;

    color: #606060;

    .hobby-icon {
      font-size: 30px;
    }
  }

  .arrow-down {
    margin-top    : auto;
    font-size     : 5vh;
    padding-bottom: 2vh;
  }
}

.nav-bar {
  background-color: @p0;
  color: white;

  position: -webkit-sticky;
  position: sticky;
  top     : 0;

  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;

  z-index: 1;
  width  : 100%;
  height : 50px;
}