@b0: rgb(41, 42, 54);
// @b0: #161821;
@t0: rgb(210, 210, 210);
@b2: #b3d0ef;

// @p0: #225c98;
@p0: rgb(124, 217, 233);
// @p1: #3b70a8;
// @p2: #5a8dc3;
@p1: rgb(124, 217, 233);
@p2: rgb(124, 217, 233);

// @c0: #ff9683;
// @c0: #e06c75;
@c0: rgb(203, 168, 254);
@c1: #ffce6b;
