.container-work {
  background-color: #161821;
  color: #d2d2d2;
  min-height: calc(100vh - 0px);
}
.container-work h2 {
  color: #225C98;
}
.container-work strong {
  color: #ff9683;
}
.container-work .container-inner {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 0px);
  max-width: 850px;
}
.container-work .container-inner h3 {
  font-weight: 500;
  color: #ff9683;
}
.container-work .container-inner .jobDesc {
  text-align: justify;
  padding-top: 5px;
  padding-left: 10px;
}
.container-work .container-inner .jobDesc .jobName {
  line-height: 21px;
  color: #5A8DC3;
}
.container-work .container-inner .jobBox {
  display: flex;
  text-align: right;
  padding-bottom: 20px;
}
.container-work .container-inner .jobBox .jobHeader {
  flex: 0 0 30%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container-work .container-inner * {
    font-size: 400;
  }
}
