@import '../../Colors.less';

.container-3 {
  background-color: rgb(200, 200, 200);
  color: @b0;
  min-height: calc(100vh);
  .inner-container{
    padding-top: 10vh;
    height: 100%;
    min-height: calc(100vh);
  }
}